.md-header-search {
    height: 17px;
    border: none;
    outline: none;
    background: #dcd7cd;
}


.input-icons {
    position: relative;
}

.input-icons svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 6px;
}

.input-icons input {
    padding: 0 12px 0 24px;
}