.md-header-logo {
    width: 60px;
    height: 60px;
}

.md-header-menu {
    padding: 0;
    list-style: none;
    display: flex;
    margin-bottom: 10px;

    &-item {
        text-transform: uppercase;
        cursor: pointer;
        font-size: 15px;

        color: #808080;

        &-active {
            color: #333333;
        }
    }
}