.md-bg-secondary {
    background: #f8f6e7
}

.md-bg-primary {
    background: #231f20
}

.md-uppercase {
    text-transform: uppercase !important;
}

.md-custom-menu {
    width: 100%;
    height: 100%;
    border-radius: 50% !important;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -khtml-border-radius: 50%;
    position: absolute;
    display: 'inline-block';
    z-index: 1;
    overflow: hidden;
    -webkit-mask-image: -webkit-radial-gradient(circle, white, black);
    -webkit-transform: translateZ(0);
}

.md-cursor-pointer {
    cursor: pointer;
}

.md-whitebox-no-bs {
    background: #ffffff;
    border-radius: 8px;
    padding: 16px 16px 24px 16px;
}

.md-whitebox {
    background: #ffffff;
    box-shadow: 0px 0px 5px rgba(10, 31, 68, 0.21);
    border-radius: 8px;
    padding: 16px 16px 24px 16px;
}


.md-table-list {
    border-radius: 4px;
    border: 1px solid #E5E7EB;
    border-collapse: separate;
    border-spacing: 0;
    table-layout: fixed;
    min-width: 100%;
    width: 100%;
    overflow: scroll;
    border-bottom: unset;
    max-height: 70vh;


    tr th {
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
        color: #111827;
        width: "fit-content";
        background: #F9FAFB;
        padding: 10px 16px;
        border-bottom: 1px solid #E5E7EB;
    }

    tr td {
        color: #111827;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        padding: 10px 16px;
        border-bottom: 1px solid #E5E7EB;
    }
}

.react-datepicker-wrapper {
    width: 100% !important;
    height: 100% !important;

    &>.react-datepicker__input-container.react-datepicker__view-calendar-icon {
        height: 100% !important;

        svg {
            padding: 0;
            top: 50%;
            transform: translateY(-50%);
            left: 10px;
        }

        input {
            width: 100% !important;
            height: 100% !important;
            border: 1px solid #e0e0e0;
            border-radius: 4px;
        }
    }
}


.leaflet-control-zoom.leaflet-bar.leaflet-control {
    position: absolute;
    top: 40px;
    left: 40px
}

@media screen and (max-width :768px) {
    .leaflet-control-zoom.leaflet-bar.leaflet-control {
        position: unset !important
    }
}