.md-bg-secondary {
    background: #f8f6e7
}

.md-bg-primary {
    background: #231f20
}

.md-uppercase {
    text-transform: uppercase !important;
}

.md-custom-menu {
    aspect-ratio: 1 / 1;
    width: 100%;
    height: 100%;
    border-radius: 50% !important;
}

.md-cursor-pointer {
    cursor: pointer;
}