@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");

// PREFIX
$prefix: md;

// FONT_FAMILY
$font-family-primary: "Inter", Arial !default;

// COLORS
$white: #fff;

$black-1: #202223;


$gray-1: #808080;

$blue-1: #042659;

$red-1: #ee3333;

// BREAKPOINTS
$bigscreen: 1400px; //2xl
$desktop: 1200px; //xl
$bigTablet: 992px; //lg
$tablet: 769px; //md
$mobile: 438px; //sm
$smallmobile: 320px; //xs

// GUTTER
$gutter: 0.75rem; //đổi đơn vị rem sang px ta được gutter-px
$gutter-px: 12px;
$gutter-row: 1.5rem;

// SPACINGS
$spacing: 1px;

// Effect
$opacity-range: 80;

// COLORFUL
$colors: (
  "gray-1": $gray-1,

  "black-1": $black-1,

  "blue-1": $blue-1,

  "red-1": $red-1,

  "white": $white,
);