@import '~leaflet/dist/leaflet.css';


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.leaflet-container {
  width: 100%;
  height: 100vh;
}


/* Root of Grid */

:root {
  --gap: 1.5rem;
  --double-gap: calc(var(--gap) * 2);
  --half-gap: calc(var(--gap) * 0.5);
}

@media(min-width: 667px) {
  :root {
      --gap: 2rem
  }
}